appdirs==1.4.4
astroid==2.4.2
attrs==20.2.0
Automat==20.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cssselect==1.1.0
fake-useragent==0.1.11
Flask==1.1.2
gunicorn==20.0.4
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
iniconfig==1.0.1
isort==5.5.1
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
packaging==20.4
parse==1.17.0
pluggy==0.13.1
py==1.10.0
pyee==7.0.3
PyHamcrest==2.0.2
pylint==2.6.0
pyparsing==2.4.7
pyppeteer==0.2.2
pyquery==1.4.1
pytest==6.0.1
pytest-httpserver==0.3.5
requests==2.24.0
requests-html==0.10.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
tqdm==4.48.2
Twisted==20.3.0
urllib3==1.25.10
w3lib==1.22.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
zope.interface==5.1.0
